<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport">
<title>Post</title>
</head>

<body>
<div></div>
	<aside class="asideMenu" th:fragment="asideMenu (list)">
		<div class="account">
			<div class="account-info">
				<img src="./photo/avatar.jpeg" alt="avatar con mèo" class="avatar" />
				<div class="account-name">
					<h5>xiaoluan_2011</h5>
					<p>Nguyen Vo Minh Luan</p>
				</div>
			</div>
			<button class="button">Switch</button>
		</div>
		<div class="suggest">
			<p class="suggest-text">Suggested for you</p>
			<a href="/friends/suggest-follow-up" class="suggest-link">See All</a>
		</div>
		<div class="listFriend">
			<div th:each="user : ${list}" class="account">
				<div class="account-info">
					<img th:src="${user.avata}" alt="avatar con mèo" class="avatar" />
					<div class="account-name">
						<h5 th:text="${user.fullName}"></h5>
						<p th:text="${user.userID}"></p>
					</div>
				</div>
				<button class="button js-click" 
		 				th:data-user-id="${user.userID}"
                            data-follow-status="false"
                            onclick="followUser(this)">Follow</button>
			</div>
		</div>
	</aside>

</body>

</html>