<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport">
	<title>Post</title>
</head>

<body>
		<aside class="asideMenu" th:fragment="asideMenu">
			<div class="account">
				<div class="account-info">
					<img src="./photo/avatar.jpeg" alt="avatar con mèo" class="avatar" />
					<div class="account-name">
						<h5>xiaoluan_2011</h5>
						<p>Nguyen Vo Minh Luan</p>
					</div>
				</div>
				<button class="button">Switch</button>
			</div>
			<div class="suggest">
				<p class="suggest-text">Suggested for you</p>
				<a href="#" class="suggest-link">See All</a>
			</div>
			<div class="listFriend">
				<div class="account">
					<div class="account-info">
						<img src="./photo/avatar.jpeg" alt="avatar con mèo" class="avatar" />
						<div class="account-name">
							<h5>xiaoluan_2011</h5>
							<p>Nguyen Vo Minh Luan</p>
						</div>
					</div>
					<button class="button">Follow</button>
				</div>
				<div class="account">
					<div class="account-info">
						<img src="./photo/avatar.jpeg" alt="avatar con mèo" class="avatar" />
						<div class="account-name">
							<h5>xiaoluan_2011</h5>
							<p>Nguyen Vo Minh Luan</p>
						</div>
					</div>
					<button class="button">Follow</button>
				</div>
				<div class="account">
					<div class="account-info">
						<img src="./photo/avatar.jpeg" alt="avatar con mèo" class="avatar" />
						<div class="account-name">
							<h5>xiaoluan_2011</h5>
							<p>Nguyen Vo Minh Luan</p>
						</div>
					</div>
					<button class="button">Follow</button>
				</div>
			</div>
		</aside>

</body>

</html>