<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Messages</title>
	
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script type="module">
		import {initializeApp} from "https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js";
		//import {getAnalytics} from "https://www.gstatic.com/firebasejs/10.6.0/firebase-analytics.js";
		import {getDatabase, ref, onChildAdded, off} from "https://www.gstatic.com/firebasejs/10.6.0/firebase-database.js";

		const firebaseConfig = {
			apiKey: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
			authDomain: "chatrealtime-7e7e8.firebaseapp.com",
			databaseURL: "https://chatrealtime-7e7e8-default-rtdb.firebaseio.com",
			projectId: "chatrealtime-7e7e8",
			storageBucket: "chatrealtime-7e7e8.appspot.com",
			messagingSenderId: "206925157542",
			appId: "1:206925157542:web:7e254501d41af820ed9067",
			measurementId: "G-0PDLXSS9SN"
		};

		const app = initializeApp(firebaseConfig);
		
		//const analytics = getAnalytics(app);
		const conversationId = "[[${conversationId}]]";
		console.log('Conversation ID:', conversationId);

		const userid = document.getElementById('userid');
		const userCurrent = userid.value;

		const database = getDatabase(app);
		const messagesRef = ref(database, 'RealTimeChat/' + conversationId + '/messages');
		off(messagesRef);
		onChildAdded(messagesRef, (snapshot) => {
			const message = snapshot.val();
			const chatDiv = document.getElementById('chat');
			const newMessage = document.createElement('li');

			if (message.sender == userCurrent) {
				newMessage.className = 'me';
			} else {
				newMessage.className = 'you';
			}
			// Kiểm tra xem tin nhắn có chứa link ảnh hay không
			const hasImage = message.content.includes('++');

			if (hasImage) {
				// Nếu có ảnh, tách nội dung và link ảnh
				const [imageUrl, content] = message.content.split('++');
				newMessage.innerHTML = `
            <div class="text-box"><p>${content}</p>
             <img src="${imageUrl}" alt="Attached Image" style="width: 300px; height: 200px;"></div>
        `;
			} else {
				// Nếu không có ảnh
				newMessage.innerHTML = `
            <div class="text-box"><p>${message.content}</p></div>
        `;
			}
			chatDiv.appendChild(newMessage);
			chatDiv.scrollTop = chatDiv.scrollHeight;
			//newMessage.scrollIntoView({behavior: 'smooth'});
		});

		const uid = localStorage.getItem('recvId');
		const recvName = localStorage.getItem('recvName');
		// Set giá trị recvName vào nội dung của thẻ p trong Receiver-Name
		document.getElementById('Receiver-Name').innerHTML = `<p><strong>${recvName}</strong></p>`;
		document.getElementById('Receiver-Name-About').innerHTML = `<p><strong>${recvName}</strong></p>`;
		// Set giá trị uid vào thuộc tính data-userid của form
		$('#messageForm').attr('data-userid', uid);		
	</script>
	<script type="module">
		import {initializeApp} from "https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js";
		import {getStorage, ref, uploadBytes, getDownloadURL} from "https://www.gstatic.com/firebasejs/10.6.0/firebase-storage.js";

		
		const storage = getStorage();

		// Add event listener for file input change
		const fileInput = document.getElementById("file");
		const imageContainer = document.getElementById("imageContainer");

		fileInput.addEventListener("change", async () => {
			const file = fileInput.files[0];

			// nếu file được chọn
			if (file) {
				// tải ảnh lên storage của firebase
				const storageRef = ref(storage, file.name);
				try {
					const snapshot = await uploadBytes(storageRef, file);

					// lấy đường dẫn tới ảnh 
					const downloadURL = await getDownloadURL(storageRef);

					// Hiển thị ảnh 
					imageContainer.innerHTML = `<img src="${downloadURL}" alt="Uploaded Image" id="urlImage" style="width: 90px; height: 50px;">`;
				} catch (error) {
					console.error('Error uploading to Firebase Storage:', error);
				}
			}
		});
	</script>
	<script>
		function sendMessage() {
			var uid = $('#messageForm').data('userid');
			var contentValue = $('#content').val().trim();

			const imageContainer = document.getElementById("imageContainer");
			const imageURL = imageContainer.querySelector("#urlImage") ? imageContainer.querySelector("#urlImage").src : null;

			const contentArea = document.getElementById("content");

			// Kiểm tra xem content và imageURL có giá trị hay không
			if ((contentValue != '' && contentValue != null) || (imageURL !== "" && imageURL !== null)) {
				// Nếu có nội dung và không có ảnh
				if (contentValue !== '' && (imageURL == "" || imageURL == null)) {
					contentArea.value = contentValue;
					//alert("Nếu có nội dung và không có ảnh" + contentArea.value);
				}
				// Nếu có ảnh và không có nội dung
				else if (contentValue == '' && (imageURL !== "" && imageURL !== null)) {
					contentArea.value = imageURL + "++";
					//alert("Nếu có ảnh và không có nội dung" + contentArea.value);
				}
				// Nếu cả hai đều có
				else {
					contentArea.value = imageURL + "++" + contentValue;
					//alert("Nếu cả hai đều có" + contentArea.value);
				}

				// Thêm giá trị uid vào FormData
				var formData = $('#messageForm').serializeArray();
				formData.push({name: 'uid', value: uid});
				$.ajax({
					type: 'POST',
					url: '/send',
					data: formData,
					success: function () {
						$('#content').val(''); // reset ô nhập tin nhắn 
						$('#imageContainer').html(''); // reset ảnh  
					},
					error: function () {
						// Xử lý lỗi
						alert('Error sending message');
					}
				});
			} else {
				// Thông báo người dùng chưa nhập nội dung hoặc chọn ảnh
				alert('Please enter a message or choose an image.');
			}
		}


	</script>
	<script>
		// Thêm hàm để xử lý sự kiện click vào icon
		function addEmojiToContent(emoji) {
			// Lấy giá trị hiện tại của nội dung
			var currentContent = document.getElementById('content').value;
			// Thêm emoji vào nội dung
			var newContent = currentContent + emoji;
			// Gán giá trị mới cho nội dung
			document.getElementById('content').value = newContent;
		}
	</script>


</head>

<body>
	<div class="tab-pane active fade show " id="link1">
		<div class="row merged">
			<div class="col-lg-12">
				<div class="mesg-area-head">
					<div class="active-user">
						<figure> <image th:src = "${recipientInfo.avata}"></image>
							<span class="status f-online"></span>
						</figure>
						<div>
							<h6 class="unread" id="Receiver-Name"></h6>
							<span>Online</span>
						</div>
					</div>
					<ul class="live-calls">
						<li class="audio-call"><span class="fa fa-phone"></span></li>
						<li class="video-call"><span class="fa fa-video"></span></li>
						<li class="uzr-info"><span class="fa fa-info-circle"></span></li>
						<li>
							<div class="dropdown">
								<button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="ti-view-grid"></i>
								</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-8 col-md-8">
				<div class="mesge-area with-background">
					<ul id="chat" class="conversations ps-container ps-theme-default ps-active-x ps-active-y">
					</ul>
				</div>
				<div id="imageContainer"></div>
				<div class="message-writing-box">

					<form id="messageForm" th:attr="data-userid=${userid}">
						<div class="text-area">
							<input type="text" id="content" name="content" placeholder="write your message here..">
							<button onclick="sendMessage(); return false;"><i class="fa fa-paper-plane-o"></i></button>
						</div>

						<div class="emojies">
							<i><img src="images/smiles/happy-3.png" alt=""></i>
							<ul class="emojies-list">
								<li><a title="" onclick="addEmojiToContent('😢')" role="button"><img
											src="images/smiles/unhappy.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😛')" role="button"><img
											src="images/smiles/tongue-out-1.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😒')" role="button"><img
											src="images/smiles/suspicious.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😊')" role="button"><img
											src="images/smiles/smiling.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😜')" role="button"><img
											src="images/smiles/wink.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😐')" role="button"><img
											src="images/smiles/bored.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😡')" role="button"><img
											src="images/smiles/angry-1.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😠')" role="button"><img
											src="images/smiles/angry.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😕')" role="button"><img
											src="images/smiles/bored-1.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😑')" role="button"><img
											src="images/smiles/bored-2.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😕')" role="button"><img
											src="images/smiles/confused-1.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😖')" role="button"><img
											src="images/smiles/confused.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😭')" role="button"><img
											src="images/smiles/crying-1.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😢')" role="button"><img
											src="images/smiles/crying.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😳')" role="button"><img
											src="images/smiles/embarrassed.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😀')" role="button"><img
											src="images/smiles/emoticons.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😃')" role="button"><img
											src="images/smiles/happy-1.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😄')" role="button"><img
											src="images/smiles/happy-2.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😊')" role="button"><img
											src="images/smiles/happy-3.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😆')" role="button"><img
											src="images/smiles/happy-4.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😷')" role="button"><img
											src="images/smiles/ill.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😍')" role="button"><img
											src="images/smiles/in-love.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😘')" role="button"><img
											src="images/smiles/kissing.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😠')" role="button"><img
											src="images/smiles/mad.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('🤓')" role="button"><img
											src="images/smiles/nerd.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('👺')" role="button"><img
											src="images/smiles/ninja.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😶')" role="button"><img
											src="images/smiles/quiet.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😞')" role="button"><img
											src="images/smiles/sad.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('🤫')" role="button"><img
											src="images/smiles/secret.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😊')" role="button"><img
											src="images/smiles/smile.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😯')" role="button"><img
											src="images/smiles/surprised-1.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😋')" role="button"><img
											src="images/smiles/tongue-out.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😢')" role="button"><img
											src="images/smiles/unhappy.png" alt=""></a></li>
								<li><a title="" onclick="addEmojiToContent('😒')" role="button"><img
											src="images/smiles/suspicious.png" alt=""></a></li>

							</ul>
						</div>
						<div class="attach-file">
							<label class="fileContainer">
								<i class="ti-clip"></i>
								<input type="file" id="file" name="file">
							</label>
						</div>
					</form>
				</div>
				<div>
					<input type="text" id="userid" name="userid" placeholder="userid" th:value="${session.userInfoID}"
						hidden />
				</div>

			</div>
			<div class="col-lg-4 col-md-4">
				<div class="chater-info">
					<figure><image th:src = "${recipientInfo.avata}"></image></figure>
					<h6 id="Receiver-Name-About"></h6>
					<span>Online</span>
					<div class="userabout">
						<span>About</span>
						<p>I love reading, traveling and discovering new things. You need to be happy in life.</p>
						<ul>
							<li>
								<span style="display: inline-block;">Phone: </span>
								<span style="display: inline-block;" th:text="${recipientInfo.phoneNumber}"></span>
							</li>
							<li>
								<span style="display: inline-block;">Address: </span>
								<span style="display: inline-block;" th:text="${recipientInfo.address}"></span>
							</li>


						</ul>
						<div class="media">
							<span>Media</span>
							<ul>
								<li><img src="images/resources/audio-user1.jpg" alt=""></li>
								<li><img src="images/resources/audio-user2.jpg" alt=""></li>
								<li><img src="images/resources/audio-user3.jpg" alt=""></li>
								<li><img src="images/resources/audio-user4.jpg" alt=""></li>
								<li><img src="images/resources/audio-user5.jpg" alt=""></li>
								<li><img src="images/resources/audio-user6.jpg" alt=""></li>
								<li><img src="images/resources/admin2.jpg" alt=""></li>
								<li><img src="images/resources/audio-user1.jpg" alt=""></li>
								<li><img src="images/resources/audio-user4.jpg" alt=""></li>
								<li><img src="images/resources/audio-user3.jpg" alt=""></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/main.min.js"></script>
	<script src="js/script.js"></script>


</body>

</html>