<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>ALOHCMUTE</title>
	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/styleAll.css" />
	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/all.min.css" />
</head>

<body>
	<div style="display: flex; justify-content: space-between">
		<div th:replace="~{menu::menu}"></div>
		<h2 th:text="${message}"></h2>
		<div class="group-container">
			<div th:each="group : ${list}">

				<aside class="asideMenu" style="width: 50%; margin-left: 25%;">
					<div class="group">
						<div class="account">
							<div class="account-info">
								<img th:src="${group.avataGroup}" alt="avatar" class="avatar"></img>
								<div class="account-name">
									<h5 th:text="${group.groupName}"></h5>
									<p th:text="${group.description}"></p>
								</div>
							</div>
							<form th:action="@{/group/{groupId}(groupId=${group.groupID})}" method="get">
								<button type="submit" class="button">Xem</button>
							</form>
						</div>
					</div>
				</aside>
				</br>
			</div>
		</div>
		<div>
			<form th:action="@{/createGroup}" method="get">
				<button class="button" type="submit">Tạo nhóm mới</button>
			</form>
		</div>
	</div>
	<div class="modal js-modal">
		<div class="modal-container">
			<header class="modal-header">
				<a href="#">
					<i class="fa-regular fa-paper-plane list-item-icon"
						style="color: rgb(0, 0, 0); padding-left: 20px; padding-top: 20px"></i>
				</a>
				<h3>Create new post</h3>
				<button href="#" style="
                            background-color: #fff;
                            border: none;
                            cursor: pointer;
                            padding-bottom: 20px;
                            border-top-right-radius: 10px;
                        " class="js-modal-close">
					<i class="fa-solid fa-xmark" style="padding-right: 20px; padding-top: 20px"></i>
				</button>
			</header>

			<div class="modal-body">
				<div class="modal-img">
					<img src="./photo/post.jpeg" class="modal-img-resize" alt="bài post" />
				</div>
				<div class="modal-caption">
					<div class="modal-text">
						<div class="modal-account">
							<img src="./photo/avatar.jpeg" alt="avatar con mèo" class="avatar" />
							<div class="account-name">
								<h5>xiaoluan_2011</h5>
							</div>
						</div>
						<textarea name="caption" id="caption" cols="40" rows="10" style="
                                    border-bottom: 1px solid rgb(219, 219, 219);
                                    padding-left: 20px;
                                    padding-top: 20px;
                                " placeholder="Write a caption..."></textarea>
						<div class="modal-picture">
							<a href="#" class="modal-picture-select">
								<span> Select from computer </span>
								<i class="fa-regular fa-image"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		const post = document.querySelector(".js-post");
		const modal = document.querySelector(".js-modal");
		const modalClose = document.querySelector(".js-modal-close");
		function showPost() {
			modal.classList.add("open");
		}
		function hidePost() {
			modal.classList.remove("open");
		}
		post.addEventListener("click", showPost);
		modalClose.addEventListener("click", hidePost);
		modal.addEventListener("click", hidePost);
	</script>

</html>