<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
</head>
<body>
	<a th:href="@{/post}"><button>Post</button></a>
    <h1>All Posts</h1>

    <!-- Hiển thị danh sách bài viết -->
    <div th:each="post : ${list}">
          
        <p th:text="${post.content}"></p>
        <p th:text="${#dates.format(post.postDate, 'yyyy-MM-dd')}"></p>
        <!--<p th:text="${post.postDate}"></p>-->
        <img th:src="${post.image}" alt="Uploaded Image" id="urlImage">
    </div>
</body>
</html>
