<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ALOHCMUTE</title>

	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/all.min.css" />
	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/styleAll.css" />
</head>

<body style="background-color: white">
	<div class="homePage">
		<div th:replace="~{menu::menu}"></div>
		<div id="listpost">
			<!--bắt đầu 1 post -->
			<div th:each="post : ${list}">
				<div th:replace="~{postTemplate::post(${post})}"></div>
			</div>
			<!-- Kết thúc vòng lặp -->
		</div>
		<div th:replace="~{asideMenu::asideMenu}"></div>

	<!-- -----------------------------------------------------------script------------------------------------- -->
		<div class="modal js-modal">
			<form th:object="${post}"  onsubmit="saveImage(); return false;">
				<div class="modal-container">
					<header class="modal-header">
						<button type="submit" style="border: none;
        outline: none;
        background: none;
        padding: 0;
        cursor: pointer;">
							<i class="fa-regular fa-paper-plane list-item-icon"
								style="color: rgb(0, 0, 0); padding-left: 20px; padding-top: 20px"></i>
						</button>
						<h3>Create new post</h3>
						<a style="
                            background-color: #fff;
                            border: none;
                            cursor: pointer;
                            padding-bottom: 20px;
                            border-top-right-radius: 10px;
                        " class="js-modal-close">
							<i class="fa-solid fa-xmark" style="padding-right: 20px; padding-top: 20px"></i>
						</a>
					</header>

					<div class="modal-body">

						<div class="modal-img" id="imageContainer">
						</div>
						<div class="modal-caption">
							<div class="modal-text">
								<div class="modal-account">
									<img th:src="${userInfo.avata}" alt="avatar con mèo" class="avatar" />
									<div class="account-name">
										<h5 th:text="${userInfo.fullName}">xiaoluan_2011</h5>
									</div>
								</div>
								<textarea id="content" name="content" cols="40" rows="10" style="
                                    border-bottom: 1px solid rgb(219, 219, 219);
                                    padding-left: 20px;
                                    padding-top: 20px;
                                " placeholder="Write a caption..." ></textarea>
								<div class="modal-picture">
									<label class="modal-picture-select">
										<i class="ti-clip"></i>
										<input type="file" id="file" name="file" accept="image/*" required>Select from computer
									</label>
								</div>
							</div>
						</div>
					</div>

				</div>
			</form>
		</div>

		<!--		<div class="loadComment js-comment">
			<div class="loadComment-container">
				<div class="loadComment-img">
					<img src="../photo/post.jpeg" alt="Bài post" />
				</div>
				<div class="loadComment-list">
					<header class="loadComment-header" style="position: sticky">
						<img src="../photo/post.jpeg" alt="avt" />
						<h5>Tên tài khoản</h5>
					</header>
					<div style="overflow: auto; height: 437px">
						<ul>
							<li class="notify-item" style="border: none; padding-top: 10px; padding-bottom: 10px">
								<img src="../photo/post.jpeg" alt="" style="height: 35px; width: 35px" />
								<div class="loadComment-info">
									<span class="description">
										<h5>xiaoluan_2011</h5>
										vừa theo dõi bạn
									</span>
									<p>
										<span style="color: rgb(115, 115, 115)">Just now</span>
										<button class="loadComment-button">
											<i class="fa-solid fa-ellipsis" style="color: rgb(115, 115, 115)"></i>
										</button>
									</p>
								</div>
							</li>
							<li class="notify-item" style="border: none">
								<img src="../photo/post.jpeg" alt="" style="height: 35px; width: 35px" />
								<div class="loadComment-info">
									<span class="description">
										<h5>xiaoluan_2011</h5>
										vừa theo dõi bạn
									</span>
									<p>
										<span style="color: rgb(115, 115, 115)">Just now</span>
										<button class="loadComment-button">
											<i class="fa-solid fa-ellipsis" style="color: rgb(115, 115, 115)"></i>
										</button>
									</p>
								</div>
							</li>
							<li class="notify-item" style="border: none">
								<img src="../photo/post.jpeg" alt="" style="height: 35px; width: 35px" />
								<div class="loadComment-info">
									<span class="description">
										<h5>xiaoluan_2011</h5>
										vừa theo dõi bạn
									</span>
									<p>
										<span style="color: rgb(115, 115, 115)">Just now</span>
										<button class="loadComment-button">
											<i class="fa-solid fa-ellipsis" style="color: rgb(115, 115, 115)"></i>
										</button>
									</p>
								</div>
							</li>
							<li class="notify-item" style="border: none">
								<img src="../photo/post.jpeg" alt="" style="height: 35px; width: 35px" />
								<div class="loadComment-info">
									<span class="description">
										<h5>xiaoluan_2011</h5>
										vừa theo dõi bạn
									</span>
									<p>
										<span style="color: rgb(115, 115, 115)">Just now</span>
										<button class="loadComment-button">
											<i class="fa-solid fa-ellipsis" style="color: rgb(115, 115, 115)"></i>
										</button>
									</p>
								</div>
							</li>
							<li class="notify-item" style="border: none">
								<img src="../photo/post.jpeg" alt="" style="height: 35px; width: 35px" />
								<div class="loadComment-info">
									<span class="description">
										<h5>xiaoluan_2011</h5>
										vừa theo dõi bạn
									</span>
									<p>
										<span style="color: rgb(115, 115, 115)">Just now</span>
										<button class="loadComment-button">
											<i class="fa-solid fa-ellipsis" style="color: rgb(115, 115, 115)"></i>
										</button>
									</p>
								</div>
							</li>
							<li class="notify-item" style="border: none">
								<img src="../photo/post.jpeg" alt="" style="height: 35px; width: 35px" />
								<div class="loadComment-info">
									<span class="description">
										<h5>xiaoluan_2011</h5>
										vừa theo dõi bạn
									</span>
									<p>
										<span style="color: rgb(115, 115, 115)">Just now</span>
										<button class="loadComment-button">
											<i class="fa-solid fa-ellipsis" style="color: rgb(115, 115, 115)"></i>
										</button>
									</p>
								</div>
							</li>
							<li class="notify-item" style="border: none">
								<img src="../photo/post.jpeg" alt="" style="height: 35px; width: 35px" />
								<div class="loadComment-info">
									<span class="description">
										<h5>xiaoluan_2011</h5>
										vừa theo dõi bạn
									</span>
									<p>
										<span style="color: rgb(115, 115, 115)">Just now</span>
										<button class="loadComment-button">
											<i class="fa-solid fa-ellipsis" style="color: rgb(115, 115, 115)"></i>
										</button>
									</p>
								</div>
							</li>
							<li class="notify-item" style="border: none">
								<img src="../photo/post.jpeg" alt="" style="height: 35px; width: 35px" />
								<div class="loadComment-info">
									<span class="description">
										<h5>xiaoluan_2011</h5>
										vừa theo dõi bạn
									</span>
									<p>
										<span style="color: rgb(115, 115, 115)">Just now</span>
										<button class="loadComment-button">
											<i class="fa-solid fa-ellipsis" style="color: rgb(115, 115, 115)"></i>
										</button>
									</p>
								</div>
							</li>
							<li class="notify-item" style="border: none">
								<img src="../photo/post.jpeg" alt="" style="height: 35px; width: 35px" />
								<div class="loadComment-info">
									<span class="description">
										<h5>xiaoluan_2011</h5>
										vừa theo dõi bạn
									</span>
									<p>
										<span style="color: rgb(115, 115, 115)">Just now</span>
										<button class="loadComment-button">
											<i class="fa-solid fa-ellipsis" style="color: rgb(115, 115, 115)"></i>
										</button>
									</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="loadComment-footer">
						<div class="loadComment-icon">
							<i class="fa-regular fa-heart"></i>
							<i class="fa-regular fa-comment js-cmt"></i>
						</div>
						<div class="loadComment-input">
							<i class="fa-regular fa-face-smile"></i>
							<input type="text" placeholder="Add a comment..." />
							<button class="button">Post</button>
						</div>
					</div>
				</div>
			</div>
		</div>
-->
	</div>

	<!-- -----------------------------------------------------------script------------------------------------- -->

	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // Hàm xóa bài viết
        function deletePost(button) {
            const postId = button.getAttribute("data-post-id");
			alert(postId);
            // Gọi endpoint xóa bài viết với postId
            $.ajax({
                type: 'DELETE',
                url: '/post/' + postId,
                success: function () {
                    // Xóa phần tử li khỏi danh sách sau khi xóa thành công
                    $(button).closest('li').remove();
                    alert('Post deleted successfully!');
                    // Tải lại trang sau khi xóa thành công
               		 location.reload();
                },
                error: function (response) {
                    alert('Error deleting post');
                }
            });
        }
    </script>
	

	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // Hàm xóa bài viết
        function deletePost(button) {
            const postId = button.getAttribute("data-post-id");
			alert(postId);
            // Gọi endpoint xóa bài viết với postId
            $.ajax({
                type: 'DELETE',
                url: '/post/' + postId,
                success: function () {
                    // Xóa phần tử li khỏi danh sách sau khi xóa thành công
                    $(button).closest('li').remove();
                    alert('Post deleted successfully!');
                    // Tải lại trang sau khi xóa thành công
               		 location.reload();
                },
                error: function (response) {
                    alert('Error deleting post');
                }
            });
        }
    </script>
	
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script defer>
		$(document).ready(function () {
			$('form').submit(function (event) {
				event.preventDefault(); // Prevent the default form submission behavior
				var postId = $(this).attr('action').split('/').pop();
				// Get the form data
				var formData = {
					content: $('#createCommentInput' + postId).val() // Assuming you have a createCommentInput element
				};

				// Get the post ID from the form's action attribute

				$.ajax({
					type: 'POST',
					url: '/create/' + postId,
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(formData),
					success: function (response) {
						console.log(response);

						// Gán giá trị mới cho số lượng bình luận của post
						if (response) {
							// Gán giá trị mới cho số lượng bình luận của post
							const postIdNumeric = parseInt(postId);
							if (!isNaN(postIdNumeric)) {
								const commentCountSpan = $('#commentCount' + postIdNumeric);
								commentCountSpan.text(response);
							}
						}

						// Load lại danh sách bình luận
						loadComments(postId);

						// Xóa nội dung input
						$('#createCommentInput' + postId).val('');
					},
					error: function (xhr, status, error) {
						console.error("Error creating comment: ", xhr.responseText);
						alert('Error creating comment');
					}
				});

			});
		});

	</script>
	<script defer>
		$(document).ready(function () {
			$('form').submit(function (event) {
				event.preventDefault(); // Prevent the default form submission behavior
				var postId = $(this).attr('action').split('/').pop();
				// Get the form data
				var formData = {
					content: $('#createCommentInput' + postId).val() // Assuming you have a createCommentInput element
				};

				// Get the post ID from the form's action attribute

				$.ajax({
					type: 'POST',
					url: '/create/' + postId,
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(formData),
					success: function (response) {
						console.log(response);

						// Gán giá trị mới cho số lượng bình luận của post
						if (response) {
							// Gán giá trị mới cho số lượng bình luận của post
							const postIdNumeric = parseInt(postId);
							if (!isNaN(postIdNumeric)) {
								const commentCountSpan = $('#commentCount' + postIdNumeric);
								commentCountSpan.text(response);
							}
						}

						// Load lại danh sách bình luận
						loadComments(postId);

						// Xóa nội dung input
						$('#createCommentInput' + postId).val('');
					},
					error: function (xhr, status, error) {
						console.error("Error creating comment: ", xhr.responseText);
						alert('Error creating comment');
					}
				});

			});
		});

	</script>
	<script defer>

		function likePost(postId) {
			$.ajax({
				type: 'POST',
				url: '/like/' + postId,
				success: function (response) {

					const str = '#likeCount' + postId;
					const likespan = $(str);
					const likeicon = $('#likeButton' + postId);
					likespan.text(response + "Likes")
					likespan.html(response + " Likes")
					likeicon.toggleClass("tym");
				},
				error: function () {
					alert('Error liking post');
				}
			});
		}

		var page = 1;
		var loading = true;
		$(window).scroll(function () {
			var windowHeight = $(window).height();
			var documentHeight = $(document).height();
			var scrollTop = $(window).scrollTop();

			// Kiểm tra xem cuộn đến cuối trang
			if (scrollTop + windowHeight >= documentHeight - 50 && loading) {
				loading = false;
				console.log("Đã cuộn xuống cuối trang");
				loadAjax();
			}
		});

		function loadAjax() {
			console.log("/listpost/group/" + page);
			$.ajax({
				type: 'GET',
				url: '/listpost/group/' + page,  // Thay đổi đường dẫn API và tham số theo nhu cầu của bạn

				success: function (data) {
					console.log(data);
					if (data.trim() !== "") {
						console.log("data k null");
						loading = true;
						page++;
					} else {

						loading = false;
					}
					console.log(page);

					$("#listpost").append(data);
				},
				error: function (error) {
					alert("error")
					console.error('Error loading data:', error);
					loading = false;
				}
			});
		}




	</script>
	<script defer>
		function loadComments(postId) {
			const postIdNumeric = parseInt(postId);

			if (!isNaN(postIdNumeric)) {
				$.ajax({
					type: 'GET',
					url: '/comment/' + postIdNumeric,
					success: function (response) {
						const commentList = $('#commentList-' + postId);
						commentList.empty();

						response.forEach(function (comment) {
							var commentElement = $('<li><span class="comment-content"></span><span class="comment-date"></span><span class="time-diff"></span></li>');
							commentElement.find('span.comment-content').text(comment.userName + ': ' + comment.content);
							commentElement.find('span.comment-date').text(comment.commentDate);

							// Calculate and display the time difference
							var timeDiffElement = commentElement.find('span.time-diff');
							var commentDate = new Date(comment.commentDate);
							var now = new Date();

							var timeDiff = now - commentDate;
							var seconds = Math.floor(timeDiff / 1000);
							var minutes = Math.floor(seconds / 60);
							var hours = Math.floor(minutes / 60);
							var days = Math.floor(hours / 24);

							if (days > 0) {
								timeDiffElement.text(days + ' days ago');
							} else if (hours > 0) {
								timeDiffElement.text(hours + ' hours ago');
							} else if (minutes > 0) {
								timeDiffElement.text(minutes + ' minutes ago');
							} else {
								timeDiffElement.text('Just now');
							}
							// Add the three-dot button for comment options
							commentElement.append('<button class="comment-options" onclick="toggleCommentOptions(this)" ' +
								'data-comment-id="' + comment.commentId + '" data-comment-content="' + comment.content + '" id="optionsButton-' + comment.commentId + '">...</button>');

							commentElement.append('<div class="comment-options-menu" style="display: none;" id="commentOptionsMenu-' + comment.commentId + '">' +
								'<button class="edit-comment-button" onclick="showEditForm(\'' + comment.commentId + '\', \'' + comment.content + '\')">Edit</button>' +
								'<button class="delete-comment-button" onclick="deleteComment(\'' + comment.commentId + '\')">Delete</button>' +
								'</div>');

							// Add a class to uniquely identify the comment options menu
							commentElement.find('.comment-options-menu').addClass('comment-options-menu-' + comment.commentId);

							commentList.append(commentElement);

						});
					},
					error: function (xhr, status, error) {
						console.error("Error loading comments: ", xhr.responseText);
						alert('Error loading comments');
					}
				});
			} else {
				alert('Invalid post ID.');
			}
		}
		function toggleCommentOptions(button) {
			console.log('Toggle Comment Options clicked!');

			// Find the comment-options-menu related to the clicked button
			const commentOptions = $(button).siblings('.comment-options-menu');

			// Hide all comment-options-menus except the one related to the clicked button
			$('.comment-options-menu').not(commentOptions).hide();

			// Toggle the display of the comment-options-menu related to the clicked button
			commentOptions.toggle();
		}
		// chỉ chỗ delete trc nha trong này khi console.log data trả về thì có 2 trường hợp 1 trả về theo response hai thì sẽ trả theo data
		// 
		function deleteComment(commentId) {
			const confirmDelete = confirm('Do you want to delete the comment?');
			if (confirmDelete) {
				// Get the post ID
				const postId = $('.comment-options-menu-' + commentId).closest('.col-md-6').find('.comment-button').attr('onclick').match(/\d+/)[0];

				// Perform the delete action here (using AJAX)
				$.ajax({
					type: 'DELETE',
					url: '/comment/delete/' + postId + '/' + commentId,
					success: function (data, textStatus, xhr, response) {
						console.log(data);
						//console.log(xhr);

						if (xhr.status === 200) {
							if (data) {
								// Gán giá trị mới cho số lượng bình luận của post
								const postIdNumeric = parseInt(postId);
								if (!isNaN(postIdNumeric)) {
									const commentCountSpan = $('#commentCount' + postIdNumeric);
									commentCountSpan.text(data);
								}
							}
							alert("Xóa thành công")
							loadComments(postId);

						} else {
							// Thất bại
							alert("Bạn không có quyền xóa bình luận")
							loadComments(postId);
						}
					},
					error: function (data, textStatus, xhr, response) {
						console.log(data);
						//console.log(textStatus);
						if (xhr.status === 200) {
							// Thành công
							alert("Xóa thành công")
							loadComments(postId);

						} else {
							// Thất bại
							alert("Bạn không có quyền xóa bình luận")
							loadComments(postId);
						}
					}
				});
			}
		}




		function showEditForm(commentId, commentContent) {
			// Check if an edit form is already active for this comment
			const existingEditForm = $('.comment-options-menu-' + commentId).find('.edit-comment-input');
			if (existingEditForm.length > 0) {
				// If an edit form is active, return without creating a new one
				return;
			}

			// Display the confirmation window with the input field and Update/Cancel buttons
			const confirmUpdate = confirm('Do you want to update the comment?');
			if (confirmUpdate) {
				const editForm = $('<div><input type="text" class="edit-comment-input" value="' + commentContent + '"/> ' +
					'<button class="update-comment-button" onclick="updateComment(\'' + commentId + '\')">Update</button>' +
					'<button class="cancel-comment-button" onclick="cancelEdit()">Cancel</button></div>');

				// Replace the comment content with the edit form
				const commentOptionsMenu = $('.comment-options-menu-' + commentId);
				const commentContentSpan = commentOptionsMenu.siblings('.comment-content');
				commentContentSpan.html(editForm);
			}
		}



		function updateComment(commentId) {
			// Get the content from the input field
			const updatedContent = $('.edit-comment-input').val();

			// Get the post ID
			const postId = $('.comment-options-menu-' + commentId).closest('.col-md-6').find('.comment-button').attr('onclick').match(/\d+/)[0];

			// Perform the AJAX update action
			$.ajax({
				type: 'PUT',
				url: '/comment/update/' + postId,
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				data: JSON.stringify({content: updatedContent, commentId: commentId}),
				success: function (data, textStatus, xhr) {
					console.log(xhr);
					if (xhr.status === 200 && data.status === 'thanh cong') {
						// Thành công
						alert("Sửa thành công");
						loadComments(postId);
					} else {
						// Thất bại
						alert("Sửa thành công");
						loadComments(postId);
					}
				},
				error: function (xhr, textStatus, data) {
					if (textStatus === 'error') {
						alert("Bạn không có quyền sửa bình luận");
						loadComments(postId);
					}
					else if (textStatus === 'parsererror') {
						alert("Sửa thành công");
						loadComments(postId);
					}


				}
			});
		}


		function cancelEdit() {
			// Close the edit form and show the comment content again
			const commentContentSpan = $('.comment-options:visible').siblings('.comment-content');
			const commentContent = commentContentSpan.find('.edit-comment-input').val();
			commentContentSpan.html('' + commentContent);

			// Hide the edit form
			$('.edit-comment-input').remove();
			$('.update-comment-button').remove();
			$('.cancel-comment-button').remove();
		}
	</script>

	<script>
		const post = document.querySelector(".js-post");
		const modal = document.querySelector(".js-modal");
		const modalClose = document.querySelector(".js-modal-close");

	<script defer>
		function loadComments(postId) {
			const postIdNumeric = parseInt(postId);

			if (!isNaN(postIdNumeric)) {
				$.ajax({
					type: 'GET',
					url: '/comment/' + postIdNumeric,
					success: function (response) {
						const commentList = $('#commentList-' + postId);
						commentList.empty();

						response.forEach(function (comment) {
							var commentElement = $('<li><span class="comment-content"></span><span class="comment-date"></span><span class="time-diff"></span></li>');
							commentElement.find('span.comment-content').text(comment.userName + ': ' + comment.content);
							commentElement.find('span.comment-date').text(comment.commentDate);

							// Calculate and display the time difference
							var timeDiffElement = commentElement.find('span.time-diff');
							var commentDate = new Date(comment.commentDate);
							var now = new Date();

							var timeDiff = now - commentDate;
							var seconds = Math.floor(timeDiff / 1000);
							var minutes = Math.floor(seconds / 60);
							var hours = Math.floor(minutes / 60);
							var days = Math.floor(hours / 24);

							if (days > 0) {
								timeDiffElement.text(days + ' days ago');
							} else if (hours > 0) {
								timeDiffElement.text(hours + ' hours ago');
							} else if (minutes > 0) {
								timeDiffElement.text(minutes + ' minutes ago');
							} else {
								timeDiffElement.text('Just now');
							}
							// Add the three-dot button for comment options
							commentElement.append('<button class="comment-options" onclick="toggleCommentOptions(this)" ' +
								'data-comment-id="' + comment.commentId + '" data-comment-content="' + comment.content + '" id="optionsButton-' + comment.commentId + '">...</button>');

							commentElement.append('<div class="comment-options-menu" style="display: none;" id="commentOptionsMenu-' + comment.commentId + '">' +
								'<button class="edit-comment-button" onclick="showEditForm(\'' + comment.commentId + '\', \'' + comment.content + '\')">Edit</button>' +
								'<button class="delete-comment-button" onclick="deleteComment(\'' + comment.commentId + '\')">Delete</button>' +
								'</div>');

							// Add a class to uniquely identify the comment options menu
							commentElement.find('.comment-options-menu').addClass('comment-options-menu-' + comment.commentId);

							commentList.append(commentElement);

						});
					},
					error: function (xhr, status, error) {
						console.error("Error loading comments: ", xhr.responseText);
						alert('Error loading comments');
					}
				});
			} else {
				alert('Invalid post ID.');
			}
		}
		function toggleCommentOptions(button) {
			console.log('Toggle Comment Options clicked!');

			// Find the comment-options-menu related to the clicked button
			const commentOptions = $(button).siblings('.comment-options-menu');

			// Hide all comment-options-menus except the one related to the clicked button
			$('.comment-options-menu').not(commentOptions).hide();

			// Toggle the display of the comment-options-menu related to the clicked button
			commentOptions.toggle();
		}
		// chỉ chỗ delete trc nha trong này khi console.log data trả về thì có 2 trường hợp 1 trả về theo response hai thì sẽ trả theo data
		// 
		function deleteComment(commentId) {
			const confirmDelete = confirm('Do you want to delete the comment?');
			if (confirmDelete) {
				// Get the post ID
				const postId = $('.comment-options-menu-' + commentId).closest('.col-md-6').find('.comment-button').attr('onclick').match(/\d+/)[0];

				// Perform the delete action here (using AJAX)
				$.ajax({
					type: 'DELETE',
					url: '/comment/delete/' + postId + '/' + commentId,
					success: function (data, textStatus, xhr, response) {
						console.log(data);
						//console.log(xhr);

						if (xhr.status === 200) {
							if (data) {
								// Gán giá trị mới cho số lượng bình luận của post
								const postIdNumeric = parseInt(postId);
								if (!isNaN(postIdNumeric)) {
									const commentCountSpan = $('#commentCount' + postIdNumeric);
									commentCountSpan.text(data);
								}
							}
							alert("Xóa thành công")
							loadComments(postId);

						} else {
							// Thất bại
							alert("Bạn không có quyền xóa bình luận")
							loadComments(postId);
						}
					},
					error: function (data, textStatus, xhr, response) {
						console.log(data);
						//console.log(textStatus);
						if (xhr.status === 200) {
							// Thành công
							alert("Xóa thành công")
							loadComments(postId);

						} else {
							// Thất bại
							alert("Bạn không có quyền xóa bình luận")
							loadComments(postId);
						}
					}
				});
			}
		}




		function showEditForm(commentId, commentContent) {
			// Check if an edit form is already active for this comment
			const existingEditForm = $('.comment-options-menu-' + commentId).find('.edit-comment-input');
			if (existingEditForm.length > 0) {
				// If an edit form is active, return without creating a new one
				return;
			}

			// Display the confirmation window with the input field and Update/Cancel buttons
			const confirmUpdate = confirm('Do you want to update the comment?');
			if (confirmUpdate) {
				const editForm = $('<div><input type="text" class="edit-comment-input" value="' + commentContent + '"/> ' +
					'<button class="update-comment-button" onclick="updateComment(\'' + commentId + '\')">Update</button>' +
					'<button class="cancel-comment-button" onclick="cancelEdit()">Cancel</button></div>');

				// Replace the comment content with the edit form
				const commentOptionsMenu = $('.comment-options-menu-' + commentId);
				const commentContentSpan = commentOptionsMenu.siblings('.comment-content');
				commentContentSpan.html(editForm);
			}
		}



		function updateComment(commentId) {
			// Get the content from the input field
			const updatedContent = $('.edit-comment-input').val();

			// Get the post ID
			const postId = $('.comment-options-menu-' + commentId).closest('.col-md-6').find('.comment-button').attr('onclick').match(/\d+/)[0];

			// Perform the AJAX update action
			$.ajax({
				type: 'PUT',
				url: '/comment/update/' + postId,
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				data: JSON.stringify({content: updatedContent, commentId: commentId}),
				success: function (data, textStatus, xhr) {
					console.log(xhr);
					if (xhr.status === 200 && data.status === 'thanh cong') {
						// Thành công
						alert("Sửa thành công");
						loadComments(postId);
					} else {
						// Thất bại
						alert("Sửa thành công");
						loadComments(postId);
					}
				},
				error: function (xhr, textStatus, data) {
					if (textStatus === 'error') {
						alert("Bạn không có quyền sửa bình luận");
						loadComments(postId);
					}
					else if (textStatus === 'parsererror') {
						alert("Sửa thành công");
						loadComments(postId);
					}


				}
			});
		}


		function cancelEdit() {
			// Close the edit form and show the comment content again
			const commentContentSpan = $('.comment-options:visible').siblings('.comment-content');
			const commentContent = commentContentSpan.find('.edit-comment-input').val();
			commentContentSpan.html('' + commentContent);

			// Hide the edit form
			$('.edit-comment-input').remove();
			$('.update-comment-button').remove();
			$('.cancel-comment-button').remove();
		}
	</script>


		function showPost() {
			modal.classList.add("open");
		}

		function hidePost() {
			modal.classList.remove("open");
		}

		//function showComment() {
		//listComment.classList.add("open");
		//}

		//function hideComment() {
		//	listComment.classList.remove("open");
		//}

		//cmt.addEventListener("click", showComment);
		//listComment.addEventListener("click", hideComment);

		post.addEventListener("click", showPost);
		modalClose.addEventListener("click", hidePost);
	</script>


	<!--Lưu ảnh,Post ảnh-->
	<script type="module">

		import {initializeApp} from "https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js";
		import {getStorage, ref, uploadBytes, getDownloadURL} from "https://www.gstatic.com/firebasejs/9.0.1/firebase-storage.js";

		const firebaseConfig = {
			key: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
			apiKey: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
			authDomain: "chatrealtime-7e7e8.firebaseapp.com",
			databaseURL: "https://chatrealtime-7e7e8-default-rtdb.firebaseio.com",
			projectId: "chatrealtime-7e7e8",
			storageBucket: "chatrealtime-7e7e8.appspot.com",
			messagingSenderId: "206925157542",
			appId: "1:206925157542:web:7e254501d41af820ed9067",
			measurementId: "G-0PDLXSS9SN",
		};

		// Initialize Firebase
		const app = initializeApp(firebaseConfig);
		const storage = getStorage();

		// Add event listener for file input change
		const fileInput = document.getElementById("file");
		const imageContainer = document.getElementById("imageContainer");

		fileInput.addEventListener("change", async () => {
			const file = fileInput.files[0];

			// Check if a file is selected
			if (file) {
				// Upload the selected file to Firebase Storage
				const storageRef = ref(storage, file.name);
				try {
					const snapshot = await uploadBytes(storageRef, file);

					//console.log("Uploaded:", snapshot.totalBytes);

					// Get the download URL of the uploaded image
					const downloadURL = await getDownloadURL(storageRef);

					// Display the image on the page
					imageContainer.innerHTML = `<img src="${downloadURL}" alt="Uploaded Image" id = "urlImage" width="100%" height="100%" max-width="567" max-height="386">`;

				} catch (error) {

				}
			}
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script>
		function saveImage() {

			const image = document.getElementById("urlImage");
			const imageURL = image.src;
			const tagContent = document.getElementById("content");
			const content = tagContent.value;
			try {
				$.ajax({
					type: 'POST',

					url: "/post/1",

					data: JSON.stringify({"imageURL": imageURL, "content": content}), //Ép kiểu string để tránh bị đôir / thành %
					contentType: 'application/json',
					success: function () {
						alert('Save successfully');
						modal.classList.remove("open");
					},
					error: function () {
						alert('Error save image');
					}
				});

			} catch (error) {
				console.error('Error uploading to Firebase Storage:', error);
			}

		}
	</script>
</body>

</html>