<title>List user</title>
<link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

<link rel="stylesheet" href="css/main.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/color.css">
<link rel="stylesheet" href="css/responsive.css">

<ul class="nav nav-tabs nav-tabs--vertical msg-pepl-list">
	<li class="nav-item " th:each="item : ${listUser}" th:data-userid="${item.userID}">
		<a class="load-chat" data-toggle="tab" th:attr="data-full-name=${item.fullName}, data-recv-id=${item.userID}">
			<figure><image th:src = "${item.avata}"></image>
				<span class="status f-online"></span>
			</figure>
			<div class="user-name">
				<h6 class="" th:text="${item.fullName}"></h6>
				<span>you send a video - 2hrs ago</span>
			</div>
			<div class="more">
				<div class="more-post-optns"><i class="ti-more-alt"></i>
					<ul>
						<li onclick="deleteChat();return false;"><i class="ti-trash "></i>Delete</li>
					</ul>
				</div>
			</div>
		</a>
	</li>
</ul>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
	function deleteChat() {
		// Bắt sự kiện click cho các liên kết
		const recvId = localStorage.getItem('recvId');

		$.ajax({
			type: 'GET',
			url: '/delete-chat',
			data: {uid: recvId},
			success: function (response) {
				console.log("Delete Chat Successfully");
				$('#chat-frame').empty();
				$('#listPeople').html(response);

			},
			error: function () {
				alert('Error delete chat');
			}
		});

	};
</script>


<script src="js/main.min.js"></script>
<script src="js/script.js"></script>