<title>List user</title>
<link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

<link rel="stylesheet" href="css/main.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/color.css">
<link rel="stylesheet" href="css/responsive.css">

<ul class="nav nav-tabs nav-tabs--vertical msg-pepl-list">
	<li class="nav-item " th:each="item : ${listUser}" th:data-userid="${item.userID}">
		<a class="active load-chat" data-toggle="tab"
			th:attr="data-full-name=${item.fullName}, data-recv-id=${item.userID}">
			<figure><img src="images/resources/friend-avatar3.jpg" alt="">
				<span class="status f-online"></span>
			</figure>
			<div class="user-name">
				<h6 class="" th:text="${item.fullName}"></h6>
				<span>you send a video - 2hrs ago</span>
			</div>
			<div class="more">
				<div class="more-post-optns"><i class="ti-more-alt"></i>
					<ul>
						<li><i class="fa fa-bell-slash-o"></i>Mute</li>
						<li><i class="ti-trash"></i>Delete</li>
						<li><i class="fa fa-folder-open-o"></i>Archive</li>
						<li><i class="fa fa-ban"></i>Block</li>
						<li><i class="fa fa-eye-slash"></i>Ignore Message</li>
						<li><i class="fa fa-envelope"></i>Mark Unread</li>
					</ul>
				</div>
			</div>
		</a>
	</li>
</ul>