<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport">
	<title>Post</title>
</head>

<body>
	<header id="sidebarMenu" th:fragment="menu">
		<div class="sidebar">
			<div class="logo"></div>
			<div class="Menu">
				<ul class="list-Menu">
					<a class="link-item">
						<li class="list-item">
							<i class="fa-solid fa-house list-item-icon"></i><span class="list-item-name">Home</span>
						</li>
					</a>
					<button class="link-item">
						<li class="list-item" style="padding-right: 127px">
							<i class="fa-solid fa-magnifying-glass list-item-icon"></i><span
								class="list-item-name">Search</span>
						</li>
					</button>
					<button class="link-item">
						<li class="list-item" style="padding-right: 124px">
							<i class="fa-regular fa-compass list-item-icon"></i><span
								class="list-item-name">Explore</span>
						</li>
					</button>
					<a  href="/list_Conversation" class="link-item" role="button">
						<li class="list-item">
							
								<i class="fa-brands fa-facebook-messenger list-item-icon"></i><span
									class="list-item-name">Messages</span>
							
						</li>
					</a>
					<button class="link-item">
						<li class="list-item" style="padding-right: 79px">
							<i class="fa-regular fa-heart list-item-icon"></i><span
								class="list-item-name">Notifications</span>
						</li>
					</button>
					<button class="link-item js-post">
						<li class="list-item" style="padding-right: 134px">
							<i class="fa-regular fa-square-plus list-item-icon"></i><span
								class="list-item-name">Create</span>
						</li>
					</button>
					<a class="link-item">
						<li class="list-item">
							<i class="fa-regular fa-user list-item-icon"></i><span class="list-item-name">Profile</span>
						</li>
					</a>
				</ul>
			</div>
			<div class="more">
				<ul class="list-Menu">
					<a class="link-item">
						<li class="list-item">
							<i class="fa-solid fa-arrow-right-from-bracket list-item-icon"></i><span
								class="list-item-name">Log out</span>
						</li>
					</a>
					<a class="link-item">
						<li class="list-item">
							<i class="fa-solid fa-repeat list-item-icon"></i><span class="list-item-name">Switch
								Account</span>
						</li>
					</a>
				</ul>
			</div>
		</div>
	</header>

</body>

</html>