<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>EditProfile</title>
	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/all.min.css" />
	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/styleAll.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
	<div style="display: flex; justify-content: space-between">
		<div th:replace="~{menu::menu}"></div>
		<main class="edit-info">
			<div style="text-align: center; margin-top: 30px">
				<h2>Edit Profile</h2>
			</div>


			<form class="row g-3 needs-validation" novalidate th:action="@{/modifyGroup}" th:object="${group}" method="post">
				<input type="hidden" th:field="*{groupID}" />
				<div class="col-md-12">
					
					<div id="imageContainer"><img th:src="*{avataGroup}" alt="Uploaded Image" id="urlImage"
						style="width: 300px; height: 200px;"></div>
					<input type="text" th:field="*{avataGroup}" name="avataGroup" hidden required/>
					<label for="formFile" class="form-label">Select profile photo</label>
					<input class="form-control" type="file" id="file" />
				</div>
				<div class="col-md-12">
					<label for="fullName" class="form-label">Tên nhóm:</label>
					<input type="text" class="form-control" id="fullName" th:field="*{groupName}" required  />
					<div class="valid-feedback">Success!</div>
				</div>
				<div class="col-md-12">
					<label for="phone" class="form-label">Mô tả: </label>
					<input type="text" class="form-control" id="phone" th:field="*{description}" required />
					<div class="valid-feedback">Success!</div>
				</div>
				
				<div class="col-12">
					<input type="submit" value="Lưu chỉnh sửa" />
				</div>
			</form>
		</main>

	</div>
</body>
<script type="module">

	import {initializeApp} from "https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js";
	import {getStorage, ref, uploadBytes, getDownloadURL} from "https://www.gstatic.com/firebasejs/9.0.1/firebase-storage.js";

	const firebaseConfig = {
		key: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
		apiKey: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
		authDomain: "chatrealtime-7e7e8.firebaseapp.com",
		databaseURL: "https://chatrealtime-7e7e8-default-rtdb.firebaseio.com",
		projectId: "chatrealtime-7e7e8",
		storageBucket: "chatrealtime-7e7e8.appspot.com",
		messagingSenderId: "206925157542",
		appId: "1:206925157542:web:7e254501d41af820ed9067",
		measurementId: "G-0PDLXSS9SN",
	};

	// Initialize Firebase
	const app = initializeApp(firebaseConfig);
	const storage = getStorage();

	// Add event listener for file input change
	const fileInput = document.getElementById("file");
	const imageContainer = document.getElementById("imageContainer");
	const avataInput = document.querySelector("input[name='avataGroup']");

	fileInput.addEventListener("change", async () => {
		const file = fileInput.files[0];

		if (file) {
			// đăng ảnh lên firebase
			const storageRef = ref(storage, file.name);
			try {
				const snapshot = await uploadBytes(storageRef, file);

				// Get the download URL of the uploaded image
				const downloadURL = await getDownloadURL(storageRef);

				// Set the value of the "avata" input field to the download URL
				avataInput.value = downloadURL;

				// hiển thị ảnh lên
				imageContainer.innerHTML = `<img src="${downloadURL}" alt="Uploaded Image" id="urlImage" style="width: 300px; height: 200px;">`;
			} catch (error) {
			}
		}
	});

</script>

</html>