<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport">
	<title>Post</title>
</head>

<body>
	<div th:fragment="post (post)">
		<div class="container">
			<article>
				<div class="post-info">
					<div class="post-account">
						<img th:src="${post.avata}" alt="Post Image" class="avatar" />
						<div class="account-name">
							<a th:href="@{'/profile/' + ${post.userID}}" th:text="${post.userFullName}"
								class="link-item" style="font-weight: bold;"></a>
							<p th:text="${post.postDate}"></p>
						</div>
					</div>
					<button style="cursor: pointer; font-size: 20px" class="js-post-edit" th:at="${post.userID}">
						<i class="fa-solid fa-ellipsis" th:onclick="'setAttr(' + ${post.postID} + ')'"></i>
					</button>
				</div>
				<div class="post-img">
					<img th:src="${post.imageURL}" alt="Post Image" class="postimg" />
				</div>
				<div>
					<div class="post-icon">
						<i th:classappend="${post.liked} ? 'fa fa-heart tym' : 'fa fa-heart'"
							th:onclick="'likePost(' + ${post.postID} + ')'" th:id="'likeButton' + ${post.postID}"></i>
						<a th:href="@{'/post/detail/' + ${post.postID}}" class="js-cmt"
							th:id=" 'js-cmt' + ${post.postID}" style="
                                            border: none;
                                            background-color: #fff;
                                            font-size: 24px;
                                            cursor: pointer;
                                        ">
							<i class="fa-regular fa-comment"></i>

						</a>
					</div>
					<div class="post-like post-icon">
						<p th:text=" ${post.likeCount} + ' Likes' " th:id="'likeCount' + ${post.postID}"></p>
						<p th:text="${post.commentCount} + ' Comments' " style="text-align: right;"></p>
					</div>


					<div class="post-comment">
						<!--Lay userName cho nay nha-->
						<h5 th:text="${post.userAccountName}"></h5>
						<p th:text="${post.content}"></p>
					</div>
					<textarea name="comment" id="comment" placeholder="" rows="2" cols="50"></textarea>
				</div>
			</article>
		</div>

	</div>
</body>

</html>