<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ALOHCMUTE</title>
	<link rel="icon" href="/images/Logo1.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/all.min.css" />
	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/styleAll.css" />

</head>

<body style="background-color: white">
	<div style="display: flex">
		<div th:replace="~{menu::menu}"></div>
		<main class="user-main" style="width: 880px">
			<div th:replace="~{UserTemplate::user(${info})}"></div>
			<div style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
          ">
				<div style="padding-bottom: 30px">
					<i class="fa-regular fa-images" style="padding-right: 10px"></i>
					<span>POST</span>
				</div>
				<div class="flex-container img-container">
					<div th:each="post : ${list}">
						<div th:replace="~{PostBriefTemplate::post(${post})}"></div>
					</div>
				</div>
			</div>


			<div class="modal js-modal ">
				<form th:object="${post}" onsubmit="saveImage(); return false;">
					<div class="modal-container">
						<header class="modal-header">
							<button type="submit" style="border: none;
        outline: none;
        background: none;
        padding: 0;
        cursor: pointer;">
								<i class="fa-regular fa-paper-plane list-item-icon"
									style="color: rgb(0, 0, 0); padding-left: 20px; padding-top: 20px"></i>
							</button>
							<h3>Create new post</h3>
							<a style="
                            background-color: #fff;
                            border: none;
                            cursor: pointer;
                            padding-bottom: 20px;
                            border-top-right-radius: 10px;
                        " class="js-modal-close">
								<i class="fa-solid fa-xmark" style="padding-right: 20px; padding-top: 20px"></i>
							</a>
						</header>

						<div class="modal-body">

							<div class="modal-img" id="imageContainer">
							</div>
							<div class="modal-caption">
								<div class="modal-text">
									<div class="modal-account">
										<img th:src="${info.avata}" alt="avatar con mèo" class="avatar" />
										<div class="account-name">
											<h5 th:text="${info.fullName}">xiaoluan_2011</h5>
										</div>
									</div>
									<textarea id="content" name="content" cols="40" rows="10" style="
                                    border-bottom: 1px solid rgb(219, 219, 219);
                                    padding-left: 20px;
                                    padding-top: 20px;
                                " placeholder="Write a caption..."></textarea>
									<div class="modal-picture">
										<label class="modal-picture-select">
											<i class="ti-clip"></i>
											<input type="file" id="file" name="file" accept="image/*" required>Select
											from
											computer
										</label>
									</div>
								</div>
							</div>
						</div>

					</div>
				</form>
			</div>

		</main>

	</div>




	<!--	<div class="user-info">
		 <form th:action="@{/save}"></form> 
	</div>-->

	<!--	<div class="Info-Of-User">
		<table border="1">
			<tr>
				<th>Avatar</th>
				<th>User ID</th>
				<th>Full name</th>
				<th>Address</th>
				<th>Date of birth</th>
				<th>Phone number</th>
			</tr>

			<tr th:each="userinfo: ${info}">
				<td><span th:text="${userinfo.avata}"></span></td>
				<td><span th:text="${userinfo.userID}"></span></td>
				<td><span th:text="${userinfo.fullName}"></span></td>
				<td><span th:text="${userinfo.address}"></span></td>
				<td><span th:text="${userinfo.dateOfBirth}"></span></td>
				<td><span th:text="${userinfo.phoneNumber}"></span></td>

				<td><a th:href="@{/update/{userid}(userid=${userinfo.userID})}">Edit Profile</a></td>
			</tr>
		</table>
	</div>
	<br>
	<form action="/post/1" th:object="${post}" method="post" onsubmit="saveImage(); return false;">

		<label for="content">Nội dung:</label>

		<input type="text" id="content" name="content" rows="4" cols="50" th:field="*{content}" required>

		<br />
		<div id="imageContainer"></div>
		<label for="image">Chọn ảnh:</label>
		<input type="file" id="file" name="file" accept="image/*" required>
		<br />

		<input type="submit" value="Đăng bài" />
	</form>
	<br>

	<div class="container bootstrap snippets bootdey" id="Post-Container">
		<div class="row" id="listpost">
			bắt đầu 1 post 
			<div th:each="post : ${list}" class="col-md-6">
				<div th:replace="~{post_template::post_template(${post})}"></div>
			</div>
			kết thúc 1 post 
		</div>
	</div>-->



















	<!-- ------------------------scripts--------------------------- -->


	<!--<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script defer>

		function likePost(postId) {
			$.ajax({
				type: 'POST',
				url: '/like/' + postId,
				success: function (response) {

					const str = '#likeCount' + postId;
					const likespan = $(str);
					const likeicon = $('#likeButton' + postId);
					likespan.text(response)
					likespan.html(response)
					likeicon.toggleClass("liked");
				},
				error: function () {
					alert('Error liking post');
				}
			});
		}

		var page = 1;
		var loading = true;
		$(window).scroll(function () {
			var windowHeight = $(window).height();
			var documentHeight = $(document).height();
			var scrollTop = $(window).scrollTop();

			// Kiểm tra xem cuộn đến cuối trang
			if (scrollTop + windowHeight >= documentHeight - 50 && loading) {
				loading = false;
				console.log("Đã cuộn xuống cuối trang");
				loadAjax();
			}
		});

		function loadAjax() {
			console.log("/listpost/" + page);
			$.ajax({
				type: 'GET',
				url: '/listpost/' + page,  // Thay đổi đường dẫn API và tham số theo nhu cầu của bạn

				success: function (data) {
					console.log(data);
					if (data.trim() !== "") {
						console.log("data k null");
						loading = true;
						page++;
					} else {

						loading = false;
					}
					console.log(page);

					$("#listpost").append(data);
				},
				error: function (error) {
					alert("error")
					console.error('Error loading data:', error);
					loading = false;
				}
			});
		}
	</script>-->
	<!-- -----------------------------------------------------------script------------------------------------- -->

	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script>
		const post = document.querySelector(".js-post");
		const modal = document.querySelector(".js-modal");
		const modalClose = document.querySelector(".js-modal-close");
		function showPost() {
			modal.classList.add("open");
		}

		function hidePost() {
			modal.classList.remove("open");
		}

		//function showComment() {
		//listComment.classList.add("open");
		//}

		//function hideComment() {
		//	listComment.classList.remove("open");
		//}


		//cmt.addEventListener("click", showComment);
		//listComment.addEventListener("click", hideComment);

		post.addEventListener("click", showPost);
		modalClose.addEventListener("click", hidePost);
	</script>
	<script type="module">

		import {initializeApp} from "https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js";
		import {getStorage, ref, uploadBytes, getDownloadURL} from "https://www.gstatic.com/firebasejs/9.0.1/firebase-storage.js";

		const firebaseConfig = {
			key: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
			apiKey: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
			authDomain: "chatrealtime-7e7e8.firebaseapp.com",
			databaseURL: "https://chatrealtime-7e7e8-default-rtdb.firebaseio.com",
			projectId: "chatrealtime-7e7e8",
			storageBucket: "chatrealtime-7e7e8.appspot.com",
			messagingSenderId: "206925157542",
			appId: "1:206925157542:web:7e254501d41af820ed9067",
			measurementId: "G-0PDLXSS9SN",
		};

		// Initialize Firebase
		const app = initializeApp(firebaseConfig);
		const storage = getStorage();

		// Add event listener for file input change
		const fileInput = document.getElementById("file");
		const imageContainer = document.getElementById("imageContainer");

		fileInput.addEventListener("change", async () => {
			const file = fileInput.files[0];

			// Check if a file is selected
			if (file) {
				// Upload the selected file to Firebase Storage
				const storageRef = ref(storage, file.name);
				try {
					const snapshot = await uploadBytes(storageRef, file);

					//console.log("Uploaded:", snapshot.totalBytes);

					// Get the download URL of the uploaded image
					const downloadURL = await getDownloadURL(storageRef);

					// Display the image on the page
					imageContainer.innerHTML = `<img src="${downloadURL}" alt="Uploaded Image" id = "urlImage" width="100%" height="100%" max-width="567" max-height="386">`;

				} catch (error) {

				}
			}
		});
	</script>
	<script>
		function saveImage() {

			const image = document.getElementById("urlImage");
			const imageURL = image.src;
			const tagContent = document.getElementById("content");
			const content = tagContent.value;
			try {
				$.ajax({
					type: 'POST',

					url: "/post/1",

					data: JSON.stringify({"imageURL": imageURL, "content": content}), //Ép kiểu string để tránh bị đôir / thành %
					contentType: 'application/json',
					success: function () {
						alert('Save successfully');
						modal.classList.remove("open");
						window.location.replace("/listpost");
					},
					error: function () {
						alert('Error save image');
					}
				});

			} catch (error) {
				console.error('Error uploading to Firebase Storage:', error);
			}

		}
	</script>
	<script>
		function detailpost(postid){
			window.location.href = "/post/detail/"+postid;
		}
	</script>
</body>

</html>