<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/PostStyle.css" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/all.min.css" />
	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/styleAll.css" />
</head>

<body>
	<div style="display: flex">
		<div th:replace="~{menu::menu}"></div>
		<main class="user-main" style="width: 880px">
			<div th:replace="~{UserTemplate::user(${info})}"></div>
			<div style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
          ">
				<div style="padding-bottom: 30px">
					<i class="fa-regular fa-images" style="padding-right: 10px"></i>
					<span>POST</span>
				</div>
				<div class="flex-container">
					<div th:each="post : ${list}">
						<div th:replace="~{PostBriefTemplate::post(${post})}"></div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<div class="user-info">
		<!-- <form th:action="@{/save}"></form> -->
	</div>

<!--	<div class="Info-Of-User">
		<table border="1">
			<tr>
				<th>Avatar</th>
				<th>User ID</th>
				<th>Full name</th>
				<th>Address</th>
				<th>Date of birth</th>
				<th>Phone number</th>
			</tr>

			<tr th:each="userinfo: ${info}">
				<td><span th:text="${userinfo.avata}"></span></td>
				<td><span th:text="${userinfo.userID}"></span></td>
				<td><span th:text="${userinfo.fullName}"></span></td>
				<td><span th:text="${userinfo.address}"></span></td>
				<td><span th:text="${userinfo.dateOfBirth}"></span></td>
				<td><span th:text="${userinfo.phoneNumber}"></span></td>

				<td><a th:href="@{/update/{userid}(userid=${userinfo.userID})}">Edit Profile</a></td>
			</tr>
		</table>
	</div>
	<br>
	<form action="/post/1" th:object="${post}" method="post" onsubmit="saveImage(); return false;">

		<label for="content">Nội dung:</label>

		<input type="text" id="content" name="content" rows="4" cols="50" th:field="*{content}" required>

		<br />
		<div id="imageContainer"></div>
		<label for="image">Chọn ảnh:</label>
		<input type="file" id="file" name="file" accept="image/*" required>
		<br />

		<input type="submit" value="Đăng bài" />
	</form>
	<br>

	<div class="container bootstrap snippets bootdey" id="Post-Container">
		<div class="row" id="listpost">
			bắt đầu 1 post 
			<div th:each="post : ${list}" class="col-md-6">
				<div th:replace="~{post_template::post_template(${post})}"></div>
			</div>
			kết thúc 1 post 
		</div>
	</div>-->



















	<!-- ------------------------scripts--------------------------- -->
	

	<!--<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script defer>

		function likePost(postId) {
			$.ajax({
				type: 'POST',
				url: '/like/' + postId,
				success: function (response) {

					const str = '#likeCount' + postId;
					const likespan = $(str);
					const likeicon = $('#likeButton' + postId);
					likespan.text(response)
					likespan.html(response)
					likeicon.toggleClass("liked");
				},
				error: function () {
					alert('Error liking post');
				}
			});
		}

		var page = 1;
		var loading = true;
		$(window).scroll(function () {
			var windowHeight = $(window).height();
			var documentHeight = $(document).height();
			var scrollTop = $(window).scrollTop();

			// Kiểm tra xem cuộn đến cuối trang
			if (scrollTop + windowHeight >= documentHeight - 50 && loading) {
				loading = false;
				console.log("Đã cuộn xuống cuối trang");
				loadAjax();
			}
		});

		function loadAjax() {
			console.log("/listpost/" + page);
			$.ajax({
				type: 'GET',
				url: '/listpost/' + page,  // Thay đổi đường dẫn API và tham số theo nhu cầu của bạn

				success: function (data) {
					console.log(data);
					if (data.trim() !== "") {
						console.log("data k null");
						loading = true;
						page++;
					} else {

						loading = false;
					}
					console.log(page);

					$("#listpost").append(data);
				},
				error: function (error) {
					alert("error")
					console.error('Error loading data:', error);
					loading = false;
				}
			});
		}
	</script>-->

</body>

</html>