<!DOCTYPE html>
<html lang="en">


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/style2.css">

</head>

<body>
	<section>
		<div class="bg-image" style="background-image: url(images/ALOHCMUTE.png)"></div>
		<div class="container">
			<div class="col-lg-8">
				<div class="big-ad">
					<figure class="logo-container">
						<img src="photo/LogoHCMUTE.png" alt="" class="logo">
					</figure>
					<h1>Welcome to ALOHCMUTE</h1>
					<p>ALOHCMUTE là một trang web dành riêng cho sinh viên Trường
						Đại học Sư Phạm Kỹ Thuật. Mục đích của trang web là kết nối và hỗ
						trợ sinh viên trong nhiều lĩnh vực khác nhau. Trang web này cho
						phép sinh viên tìm kiếm việc làm, tạo kết nối xã hội, đăng bài
						viết và viết blog, cùng với nhiều tính năng khác. Hãy tham gia
						ngay để kết nối và tham gia vào cộng đồng sinh viên sôi động này
						nhé!</p>
				</div>
			</div>
			<div class="col-lg-4" style="padding: 0;">
				<div class="we-login-register">
					<div class="form-title" style="padding-bottom: 30px;">Đăng ký
					</div>
					<div th:if="${param.success}">
						<div class="alert alert-info">Login successful</div>
					</div>
					<div th:if="${param.pass}">
						<div class="alert alert-info">Confirm Password is not
							correct</div>
					</div>
					<div th:if="${param.emailexist}">
						<div class="alert alert-info">Email is exist</div>
					</div>
					<div th:if="${param.phone}">
						<div class="alert alert-info">Phone is exist</div>
					</div>
					<form class="we-form" action="registerOrFail" method="post">
						<input type="text" placeholder="Email" name="email"> <input type="password"
							placeholder="Password" name="pass"> <input type="password" placeholder="Confirm Password"
							name="checkPass">
						<input type="text" placeholder="Name" name="userName"> <input type="text"
							placeholder="Full name" name="fullName"> <input type="text" placeholder="Phone"
							name="phoneNumber"> <label for="form2Example2">Ảnh đại diện</label> <input type="text"
							name="avata" id="form2Example2" class="form-control" hidden />
						<div id="imageContainer"></div>
						<input type="file" id="file"> <input type="text" placeholder="Address" name="address"> <input
							type="date" placeholder="Date of birth" name="dateOfBirth">
						<button type="submit" data-ripple style="margin-left: auto; margin-right: auto;">Đăng
							ký</button>
					</form>
					<span>Bạn có tài khoản rồi?<a class="we-account underline" a href="/login" title="">Hãy nhập ngay
							nhé!</a></span>
				</div>
			</div>
		</div>
		<script type="module">
			import {initializeApp} from "https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js";
			import {getStorage, ref, uploadBytes, getDownloadURL} from "https://www.gstatic.com/firebasejs/9.0.1/firebase-storage.js";

			const firebaseConfig = {
				key: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
				apiKey: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
				authDomain: "chatrealtime-7e7e8.firebaseapp.com",
				databaseURL: "https://chatrealtime-7e7e8-default-rtdb.firebaseio.com",
				projectId: "chatrealtime-7e7e8",
				storageBucket: "chatrealtime-7e7e8.appspot.com",
				messagingSenderId: "206925157542",
				appId: "1:206925157542:web:7e254501d41af820ed9067",
				measurementId: "G-0PDLXSS9SN",
			};

			// Initialize Firebase
			const app = initializeApp(firebaseConfig);
			const storage = getStorage();

			// Add event listener for file input change
			const fileInput = document.getElementById("file");
			const imageContainer = document.getElementById("imageContainer");
			const avataInput = document.querySelector("input[name='avata']");

			fileInput.addEventListener("change", async () => {
				const file = fileInput.files[0];

				if (file) {
					// đăng ảnh lên firebase
					const storageRef = ref(storage, file.name);
					try {
						const snapshot = await uploadBytes(storageRef, file);

						// Get the download URL of the uploaded image
						const downloadURL = await getDownloadURL(storageRef);

						// Set the value of the "avata" input field to the download URL
						avataInput.value = downloadURL;

						// hiển thị ảnh lên
						imageContainer.innerHTML = <img src="${downloadURL}" alt="Uploaded Image" id="urlImage" style="width: 300px; height: 200px;"></img>;
     } catch (error) {
		 
							}
    }
   });

		</script>
</body>

</html>