<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ALOHCMUTE</title>

<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/all.min.css" />
<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/styleAll.css" />
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

	<div style="display: flex">
		<div th:replace="~{menu::menu}"></div>
		<main class="suggest-main">
			<header class="suggest-header">Suggested</header>
			<div th:each="user : ${userList}">
				<div th:replace="~{suggestFollowTemplate::user(${user})}"></div>
			</div>
		</main>
	</div>

	<!-- Bootstrap JS and dependencies (optional) -->
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script>
		$(document).ready(function() {
			$(".btn-follow").click(function() {
				var userId = $(this).data("user-id");
				var followStatus = $(this).data("follow-status");
				$.ajax({
					type : "GET",
					url : "./follow/" + userId,
					success : function(respone) {
						//Xử lý phản hồi từ server
						// alert(respone);
					},
					error : function(error) {
						alert(error);
						console.error("Error:", error);
					}
				});
			});
		});
	</script>

	<script>
		function followUser(button) {
			if (button.innerText.toLowerCase() === 'follow') {
				button.innerText = 'Following';
			} else {
				button.innerText = 'Follow';
			}
		}
	</script>
	
	<script>
		const btns = document.querySelectorAll(".js-click");

		function changeClass(event) {
			// Get the specific button that was clicked
			const btn = event.target;

			// Check if the button has the "button" class
			if (btn.classList.contains("button")) {
				// Remove "button" and add "following-btn"
				btn.classList.remove("button");
				btn.classList.add("following-btn");

				// Toggle the text content between "Follow" and "Following"
				btn.textContent = "Following";
			} else {
				// Remove "following-btn" and add "button"
				btn.classList.remove("following-btn");
				btn.classList.add("button");

				// Toggle the text content between "Follow" and "Following"
				btn.textContent = "Follow";
			}
		}

		// Iterate through each button and add a click event listener
		for (const btn of btns) {
			btn.addEventListener("click", changeClass);
		}
	</script>


</body>
</html>
