<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Update User Info</title>
</head>

<body>
	<h1>Update User Info</h1>

	<form th:action="@{/profile/saveUpdate}" th:object="${userInfo}" method="post">
		<!-- Hidden User ID -->
		<input type="hidden" th:field="*{userID}" />

		<label for="userID">User ID:</label>
		<input type="text" th:field="*{userID}" readonly />
		<br />

		<label for="fullName">Full Name:</label>
		<input type="text" th:field="*{fullName}" required />
		<br />

		<label for="address">Address:</label>
		<input type="text" th:field="*{address}" required />
		<br />

		<label for="form2Example2">Ảnh đại diện</label>
		<input type="text" th:field="*{avata}" name="avata" hidden required/>
		<div id="imageContainer"><img th:src="*{avata}" alt="Uploaded Image" id="urlImage" style="width: 300px; height: 200px;"></div>
		<input type="file" id="file">
		<br />

		<label for="dateOfBirth">Date of Birth:</label>
		<input type="text" th:field="*{dateOfBirth}" required />
		<br />

		<label for="phoneNumber">Phone Number:</label>
		<input type="text" th:field="*{phoneNumber}" required />
		<br />

		<input type="submit" value="Save" />
	</form>
</body>
<script type="module">

	import {initializeApp} from "https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js";
	import {getStorage, ref, uploadBytes, getDownloadURL} from "https://www.gstatic.com/firebasejs/9.0.1/firebase-storage.js";

	const firebaseConfig = {
		key: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
		apiKey: "AIzaSyAktz6fBLYH1GcUykJi8JF5WHwI6dNncuY",
		authDomain: "chatrealtime-7e7e8.firebaseapp.com",
		databaseURL: "https://chatrealtime-7e7e8-default-rtdb.firebaseio.com",
		projectId: "chatrealtime-7e7e8",
		storageBucket: "chatrealtime-7e7e8.appspot.com",
		messagingSenderId: "206925157542",
		appId: "1:206925157542:web:7e254501d41af820ed9067",
		measurementId: "G-0PDLXSS9SN",
	};

	// Initialize Firebase
	const app = initializeApp(firebaseConfig);
	const storage = getStorage();

	// Add event listener for file input change
	const fileInput = document.getElementById("file");
	const imageContainer = document.getElementById("imageContainer");
	const avataInput = document.querySelector("input[name='avata']");

	fileInput.addEventListener("change", async () => {
		const file = fileInput.files[0];

		if (file) {
			// đăng ảnh lên firebase
			const storageRef = ref(storage, file.name);
			try {
				const snapshot = await uploadBytes(storageRef, file);

				// Get the download URL of the uploaded image
				const downloadURL = await getDownloadURL(storageRef);

				// Set the value of the "avata" input field to the download URL
				avataInput.value = downloadURL;

				// hiển thị ảnh lên
				imageContainer.innerHTML = `<img src="${downloadURL}" alt="Uploaded Image" id="urlImage" style="width: 300px; height: 200px;">`;
			} catch (error) {
			}
		}
	});

</script>

</html>