<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport">
	<title>Post</title>
	<style>
		.ui-follow {
			color: black;
			/* Màu chữ đen */
			text-decoration: none;
			/* Loại bỏ đường gạch chân mặc định */
			margin-right: 10px;
			/* Khoảng cách giữa các thành phần */
			cursor: pointer;
			/* Biểu tượng con trỏ khi di chuột qua */
		}

		.ui-follow:hover {
			color: #007bff;
			/* Màu chữ khi di chuột qua */
		}
	</style>
</head>

<body>

	<div th:fragment="user (user)" style="
            display: flex;
            border-bottom: solid 1px rgb(219, 219, 219);
            padding-bottom: 30px;
          ">
		<div>
			<img th:src="${user.avata}" alt="" class="avatar3" />
		</div>
		<section style="
              display: flex;
              flex-direction: column;
              justify-content: center;
            ">
			<div style="display: flex; margin-bottom: 20px; align-items: center">
				<h3 class="pb" th:text="${user.fullName}"></h3>
				<th:block th:if="${user.userID == session.userInfoID}">
					<a href="/profile/update" class="edit-a">Edit profile</a>
				</th:block>



			</div>
			<div class="pb">
				<span class="ui-follow" th:text="${user.countPost + ' post'}"></span>
				<a th:href="@{'/friends/follower-list/' + ${user.userID}}" class="ui-follow"
					th:text="${user.countFollower + ' followers'}" style="text-decoration: none; color: black;"></a>
				<a th:href="@{'/friends/following-list/' + ${user.userID}}" class="ui-follow"
					th:text="${user.countFollowing + ' following'}" style="text-decoration: none; color: black;"></a>
			</div>
			<h5 class="pb" th:text="${user.address}"></h5>
		</section>
	</div>

</body>

</html>