<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Chào Mừng</title>
	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/all.min.css" />
	<link rel="stylesheet" href="/fontawesome-free-6.5.1-web/css/styleAll.css" />
</head>

<body>
	<div style="height: 100vh">
		<header class="wellcome-header">
			<div>
				<img src="/images/ALOHCMUTE.png" alt="" style="
                            height: 100px;
                            width: 170px;
                            background-color: transparent;
                            margin-left: 20px;
                        " />
			</div>
			<div>
				<ul style="display: flex">
					<a href="" class="wellcom-link">
						<li>Hello: <span>Minh Luân</span></li>
					</a>
					<a href="" class="wellcom-link">
						<li>Messages</li>
					</a>
					<a href="" class="wellcom-link">
						<li>Create Post</li>
					</a>
					<a href="" class="wellcom-link">
						<li>Post</li>
					</a>
					<a href="" class="wellcom-link">
						<li>Group</li>
					</a>
					<a href="" class="wellcom-link">
						<li>Log out</li>
					</a>
				</ul>
			</div>
		</header>
		<main>
			<h1 class="wellcom-slogan">Chào mừng bạn đến với ALOHCMUTE</h1>
		</main>
		<div class="wellcome-background"></div>
	</div>
</body>

</html>